<?xml version="1.0" encoding="utf-8"?><Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"><Identity Name="GridSpace" Publisher="CN=GridSpace" Version="0.2.0.0"/><Properties><DisplayName>GridSpace</DisplayName><PublisherDisplayName>GridSpace</PublisherDisplayName><Logo>Assets/Icons/icon.png</Logo></Properties><Dependencies><TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0"/></Dependencies><Applications><Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$"><uap:VisualElements DisplayName="GridSpace" Description="GridSpace" BackgroundColor="#107C41" Square150x150Logo="Assets/Icons/icon.png" Square44x44Logo="Assets/Icons/icon.png"/></Application></Applications></Package>
